.tag {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 5px;
}

.s {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 12px;
}

.m {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
}

.red {
	color: var(--white);
	background-color: #de0000;
	font-weight: bold;
}

.green {
	color: var(--green);
	background-color: var(--green-light);
	font-weight: bold;
}

.primary {
	color: var(--primary);
	background-color: none;
	border: 1px solid var(--primary);
}
