.review {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 24px;
}
.description {
	grid-column: start / end;
}

.name {
	font-weight: bold;
	margin-right: 10px;
}

@media screen and (max-width: 600px) {
	.rating {
		grid-column: start / end;
	}
}
