.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto auto [end];
	align-items: center;
	gap: 30px 30px;
	font-size: 14px;
	line-height: 24px;
}

.description {
	grid-column: start / end;
}

.title {
	justify-self: left;
}

.rating {
	display: flex;
	gap: 20px;
}

.submit {
	grid-column: start / end;
}

.info {
	margin-left: 15px;
}

.panel {
	padding: 20px;
	position: relative;
	border-radius: 5px;
	margin-top: 20px;
}

.success {
	background-color: var(--green-light);
}

.error {
	background-color: var(--red-light);
}

.error .close path {
	stroke: var(--red);
}

.successTitle {
	font-weight: bold;
}

.close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

@media screen and (max-width: 740px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}
	.rating {
		grid-column: start / end;
	}
	.title {
		justify-self: normal;
	}
}

@media screen and (max-width: 570px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}
