.h1 {
	font-size: 26px;
	margin: 0;
	line-height: 35px;
	font-weight: 600;
}

.h2 {
	font-size: 22px;
	line-height: 35px;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 20px;
}

.h3 {
	font-size: 20px;
	line-height: 27px;
	font-weight: 600;
	margin: 0;
}
