.textArea {
	padding: 7px 15px;
	color: var(--black);
	border: none;
	outline-color: var(--primary);
	background-color: var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
	font-size: 16px;
	line-height: 22px;
	border-radius: 5px;
	font-family: var(--font-family);
	width: 100%;
}

.textArea::placeholder {
	color: var(--gray);
}

.error {
	border: 2px solid var(--red);
}

.textAreaWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;
	color: var(--red);
}
