.search {
	position: relative;
	width: 100%;
}

.input {
	width: 100%;
}

.button {
	position: absolute;
	margin: 0;
	top: 3px;
	right: 3px;
	width: 30px;
	height: 30px;
	padding: 7px;
}

.searchResponse {
	background-color: var(--white);
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 103%;
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.searchResponse div {
	display: block;
	padding: 13px 8px;
	border-bottom: 1px solid var(--gray-light);
	cursor: pointer;
}

.searchResponse div:hover {
	background-color: rgba(0, 0, 0, 0.02);
}
